@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"); * {
    padding: 0px;
    margin: 0px;
    font-family: Inter, sans-serif;
    text-align: center;
    color: rgb(113, 113, 113);
}

.title {
    border-radius: 50px 0px;
    width: 50%;
    margin: 40px auto;
    height: 3rem;
    color: rgb(255, 37, 58);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-top: 10px;
}

main {
    display: flex;
}

.menu {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    width: 20rem;
    padding: 30px;
    color: white;
    position: sticky;
}

.menu .selected {
    background: rgb(255, 37, 58);
}

.soustitre p {
    color: white;
}

.nav {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    position: sticky;
    top: 200px;
}

.nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background: rgb(255, 37, 58);
    transition: all 420ms ease 0s;
    border-bottom: 1px solid rgb(213 21 49);
    border-top: 1px solid rgb(213 21 49);
}

.content {
    padding: 30px;
    width: 100%;
}

.dev {
    display: flex;
    justify-content: space-around;
}

.dev h2 {
    font-size: 2rem;
    font-weight: 900;
}

.dev p {
    color: white;
}

.front {
    box-shadow: rgb(231, 231, 231) 5px 5px 5px;
}

.back {
    box-shadow: rgb(231, 231, 231) 5px 5px 5px;
}

.actu {
    display: flex;
}

.actus {
    width: 20%;
    margin: 20px;
    padding: 20px;
    background: rgb(255, 255, 255);
    text-align: center;
    height: 400px;
    box-shadow: rgb(209, 208, 208) 0px 0px 4px;
}

.actuimg {
    width: 100%;
    height: 150px;
    padding-bottom: 50px;
}

.actuimg img {
    width: 100%;
}

.actutitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0px;
    color: rgb(255, 37, 58);
    font-weight: 600;
}

footer {
    background-color: rgb(243, 243, 243);
    padding: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}

footer a {
    color: rgb(171, 171, 171);
}

@-webkit-keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes slideout {
    0% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: -400px;
        opacity: 0;
    }
}

@keyframes slideout {
    0% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: -400px;
        opacity: 0;
    }
}

body #scene {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 400px;
    position: relative;
    inset: 0px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    overflow: hidden;
}

body #scene #left-zone {
    background: rgb(255, 255, 255);
    height: 75%;
    flex-grow: 0;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: left;
}

body #scene #left-zone .list {
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
}

body #scene #left-zone .list li.item input[type="radio"] {
    display: none;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label::first-letter {
    text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label:hover {
    opacity: 0.75;
    cursor: pointer;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label.label_strawberry::before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("../images/frontend.png");
    background-position: center center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label.label_banana::before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("../images/backend.png");
    background-position: center center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label.label_apple::before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("../images/algo.png");
    background-position: center center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label.label_orange::before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("../images/culture.png");
    background-position: center center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content {
    position: absolute;
    left: 350px;
    top: -400px;
    width: 650px;
    height: 400px;
    animation-duration: 0.75s;
    animation-name: slideout;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry .picto {
    height: 100px;
    width: 100px;
    background-image: url("../images/frontend.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry h1 {
    color: rgb(255, 37, 58);
    padding: 20px;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana .picto {
    height: 100px;
    width: 100px;
    background-image: url("../images/backend.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana h1 {
    color: rgb(207, 39, 55);
    padding: 20px;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple .picto {
    height: 100px;
    width: 100px;
    background-image: url("../images/algo.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple h1 {
    color: rgb(137, 29, 39);
    padding: 20px;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange .picto {
    height: 100px;
    width: 100px;
    background-image: url("../images/culture.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange h1 {
    color: rgb(90, 17, 24);
    padding: 20px;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content h1::first-letter {
    text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content p {
    max-width: 50%;
    text-align: center;
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ label {
    opacity: 1;
    animation: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal none running all;
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_strawberry {
    color: rgb(255, 37, 58);
    border-right: 4px solid rgb(255, 37, 58);
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_banana {
    color: rgb(207, 39, 55);
    border-right: 4px solid rgb(207, 39, 55);
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_apple {
    color: rgb(137, 29, 39);
    border-right: 4px solid rgb(137, 29, 39);
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_orange {
    color: rgb(90, 17, 24);
    border-right: 4px solid rgb(90, 17, 24);
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
    animation-duration: 0.75s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #middle-border {
    background-color: rgb(238, 238, 238);
    height: 75%;
    flex-grow: 1;
    max-width: 2px;
    z-index: 0;
}

body #scene #right-zone {
    background: rgb(255, 255, 255);
    height: 100%;
    flex-grow: 3;
}

.snip1574 {
    font-family: Lato, Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
}

.snip1574 * {
    box-sizing: border-box;
}

.snip1574 img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.7;
}

.snip1574 figcaption {
    position: absolute;
    inset: 0px;
    padding: 80px 10% 15%;
    color: white;
}

.snip1574 figcaption::before {
    font-family: FontAwesome;
    content: "“";
    position: absolute;
    font-size: 170px;
    opacity: 0.35;
    font-style: normal;
    transform: translateX(-50%);
    top: 0px;
    left: 50%;
}

.snip1574 blockquote {
    padding: 0px;
    margin: 0px;
    font-style: italic;
    font-size: 1.2em;
}

.snip1574 h3 {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0px;
    color: white;
}

.snip1574 h5 {
    font-weight: 400;
    margin: 0px;
    text-transform: uppercase;
    color: rgb(187, 187, 187);
    letter-spacing: 1px;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(-1750px));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(-1750px));
    }
}

.slider {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 10px 20px -5px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0px;
    top: 0px;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0px;
    top: 0px;
}

.slider .slide-track {
    animation: 40s linear 0s infinite normal none running scroll;
    display: flex;
    width: calc(3500px);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

.about {
    width: 100%;
    height: 50vh;
}

.allabout {
    display: flex;
}

.about img {
    height: 100%;
}

.dbout {
    padding: 80px;
    font-size: 1.3rem;
    text-align: justify;
}

:root {
    --hero-gap: 60px;
}

.caption {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
    z-index: 2;
    font-size: 0.6rem;
}

.parallax-wrapper {
    height: 75vh;
    perspective: 10px;
}

.parallax-content {
    position: relative;
    width: 100%;
    height: calc(75vh - var(--hero-gap));
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: 1;
    transform: translateZ(1px);
}

.hero .hero__title {
    color: white;
    z-index: 2;
    text-align: center;
    transform: translateZ(-2px) scale(1.2);
}

.hero .hero__title p {
    margin-top: 0.5rem;
    font-size: calc(0.6rem + 0.75vmin);
    color: rgb(255, 255, 255);
}

.hero .hero__title a {
    color: white;
}

.hero::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: 0px 100%;
    transform: translateZ(8px);
    pointer-events: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 8%, rgba(0, 0, 0, 0.047) 14.8%, rgba(0, 0, 0, 0.106) 20.8%, rgba(0, 0, 0, 0.176) 26%, rgba(0, 0, 0, 0.26) 30.8%, rgba(0, 0, 0, 0.353) 35.3%, rgba(0, 0, 0, 0.45) 39.8%, rgba(0, 0, 0, 0.55) 44.5%, rgba(0, 0, 0, 0.647) 49.5%, rgba(0, 0, 0, 0.74) 55.2%, rgba(0, 0, 0, 0.824) 61.7%, rgba(0, 0, 0, 0.894) 69.2%, rgba(0, 0, 0, 0.953) 77.9%, rgba(0, 0, 0, 0.99) 88.1%, black 100%);
    z-index: 3;
}

.main-content {
    position: relative;
    margin: 0px auto;
    padding: var(--hero-gap) 2rem;
    max-width: 725px;
    background-color: white;
}

.main-content > * + * {
    margin-top: 2rem;
}

.scroll-icon-container {
    --size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    top: calc(var(--size) * -1);
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    border-radius: 0.15rem;
    background-color: inherit;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px -3px;
    z-index: 4;
}

.scroll-icon-container .icon--down-arrow {
    width: var(--size);
    height: var(--size);
}

.hero__title h1 {
    color: rgb(255, 255, 255);
}

.hero__title p {
    color: rgb(238, 238, 238);
}
